.index{'ng-controller' => 'ArticleController'}
  %h1 {{article.title}}
  {{article.text}}

  %h2 Comments
  %tr{role: "presentation", 'ng-repeat' => 'comment in comments'}
    %td {{comment}}
  %div{'ng-include' => "'#{asset_path('assets/comments/comment.html')}'"}
  %a{class: 'btn btn-primary', type: 'button', 'ng-href' => root_path + '#/articles/{{article.id}}/edit'} Edit Article
  %a{class: 'btn btn-danger', type: 'button', 'ng-href' => root_path + '#/articles/'} Back
