%p
  %strong Commenter:
  = comment.user.email
%p
  %strong Comment:
  = comment.body
%p
  - if can? :destroy, Comment, user_id: current_user.id
    = link_to 'Destroy Comment', [comment.article, comment], method: :delete, data: { confirm: 'Are you sure?' }