%form{'ng-if' => 'currentUser.can_create_comment', 'ng-submit' => 'createComment(form)', name: 'form'}
  .alert.alert-danger{'ng-repeat' => 'error in errors'} {{error}} 
  .form-group{name: 'comment', 'ng-class' => '!form.body.$valid ? "has-error" : ""'} 
    %label Comment
    %textarea.form-control{name: 'body', placeholder: 'Comment', 'ng-model' => 'comment.body', rows: 4, 'ng-minlength' => 4}
    %span.error{'ng-show' => 'form.body.$error.minlength'} Your comment must be at least 4 characters long.
  
  %input.btn.btn-success{type: 'submit', value: 'Post Comment'}